.formcontacto {
    background: #fcfbfb;
    height: auto;
}

.formcontacto__contacto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 10rem;
}

.formcontacto__llamada {
    width: 17rem;
    height: 42rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
}

.formcontacto__img {
    max-width: 100%;
    height: 80%;
    border-radius: 5px;
    background: #f3eae8;
    box-shadow: 0 2px 4px #00000033;

}


.formcontacto__text {
    width: 35rem;

}



.formcontacto__title {
    font-family: Raleway;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
    color: #353535;

}

.formcontacto__subtext {
    font-family: Raleway;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #353535;
    font-weight: bold;
}

.formcontacto__subtext2 {
    font-family: Raleway;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: #353535;
    line-height: 1.3;
}

.formcontacto__input {
    display: block;
    width: 100%;
    height: 2.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.formcontacto__input:hover {
    border-bottom: 2px solid #714d9a;
    ;
    border-top: none;
    border-left: none;
}

.formcontacto__input:focus {
    outline: 1px solid #714d9a;
}



.formcontacto__textarea {
    margin-top: 2rem;
    font-size: 1.3rem;
    width: 100%;
    /* Ancho deseado para el textarea */
}

.formcontacto__textarea:hover {
    border-bottom: 2px solid #714d9a;
    ;
    border-top: none;
    border-left: none;
}

.formcontacto__textarea:focus {
    outline: 1px solid #714d9a;
}

.formcontacto__botton {
    height: 3rem;
    width: 12rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    background: #714d9a;
    transition: transform 1s;
    cursor: pointer;
    border: #714d9a;
    border-radius: 5px;
    box-shadow: 0 2px 4px #00000033;
}

.formcontacto__botton:hover {
    transform: scale(1.2);
    background: #4f2c78;
}

@media screen and (max-width:768px) {


    .formcontacto__botton {
        height: 2.8rem;
        width: 11rem;
    }

    .formcontacto__contacto {
        padding: 2rem 3rem;
    }

}

@media screen and (max-width:992px) {
    .formcontacto__contacto {
        padding: 2rem 3rem;
    }

}

@media screen and (max-width:1205px) {
    .formcontacto__img {
        display: none;
    }

    .formcontacto__llamada {
        display: none;
    }
}