.cabecera {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*se aplica al container no a elementos individuales*/
    justify-content: space-between;
    background: #F5F5F5;

}

.firma {
    display: flex;

}


.menu__lista {
    display: flex;

}

.menu__item {
    list-style: none;

}

.menu__link {
    list-style: none;
    font-family: raleway, sans-serif;
    color: #565656;
    display: inline-block;
    position: relative;
    font-size: 1.3rem;

}

.menu__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #714d9a;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.menu__link:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
}


@media (min-width: 0) {
    .firma {
        width: 11rem;
        height: 3rem;
    }

    .cabecera {
        padding: 2rem 3rem;
    }

}


@media (max-width: 768px) {
    .menu__item:not(.menu__item--contacto) {
        display: none;
    }
}


@media (min-width: 768px) {
    .cabecera {

        padding: 2rem 3rem;
    }

    .menu__item {
        padding-right: 1.2rem;

    }

    .firma {

        width: 12rem;
        height: 3.5rem;
    }
}


@media (min-width: 992px) {
    .cabecera {
        padding: 2rem 10rem;
    }

    .menu__item {
        padding-right: 2rem;
    }

    .firma {

        width: 12rem;
        height: 3.5rem;
    }
}